body {
    margin: 0;
}

@font-face {
    font-family: Beleren;
    src: url(./fonts/beleren.ttf) format('ttf');
    font-weight: normal;
}

@font-face {
    font-family: Mplantin;
    src: url(./fonts/mplantin.ttf) format('ttf');
    font-weight: normal;
}
