body {
    margin: 0;
}

@font-face {
    font-family: Beleren;
    src: local('Beleren'), url(./fonts/beleren.ttf), format('ttf');
    font-weight: normal;
}

@font-face {
    font-family: Mplantin;
    src: local('MPlantin'), url(./fonts/mplantin.ttf), format('ttf');
    font-weight: normal;
}
